<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="237762704075-5l2qu43226aik1njlue1jhd9jh7r9d2c.apps.googleusercontent.com"
          name="google-signin-client_id">
    <title>Admin Turnos</title>

    <script async defer src="https://apis.google.com/js/platform.js"></script>

    {% load static %}
    <link href="{% static 'style/main.css' %}" rel='stylesheet'/>
    <link href="{% static 'style/vanilla-calendar-min.css' %}" rel='stylesheet'/>
    <script src="{% static 'func.js' %}"></script>
    <script src="{% static 'classes.js' %}"></script>
    <script src="{% static 'calendar.js' %}"></script>
    <script src="{% static 'userinterface.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
    <script src="{% static 'login.js' %}"></script>
</head>
<body>

<header id="divAccount">
    <div id="goBackButtonContainer">
        <button id="btnGoBack" onclick="goBack()">
            <svg height="24" version="1.1" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z">
                </path>
            </svg>
        </button>
    </div>
    <div class="g-signin2" data-onsuccess="onSignIn" id="divGoogleSignIn" id="googleSignInBtn"></div>
    <div id="profile">
        <img id="imgProfilePic" src=""/>
        <label id="labelProfileName"></label>
    </div>

</header>

<div id="divDateSelection">

    <div class="content">

        <div>
            <div class="vanilla-calendar" id="calendar" style="margin-bottom: 20px"></div>
        </div>

    </div>

    <script>
        let calendar = new VanillaCalendar({
            selector: "#calendar",
            onSelect: (data, elem) => {
                onDateSelected(data);
            }
        });

    </script>

    <button id="btnGetServices" onclick="getProvidedServices();getPromotions()">get services provided in date</button>

</div>

<div id="divServiceSelection">
    <div id="servicesContainer">
        <div id="divProvidedServices">
        </div>

    </div>

    <div id="btnAppointmentsContainer">
        <button id="btnGetAvailableAppointments" onclick="getAvailableAppointments()">Get Available Appointments
        </button>
    </div>

</div>

<div id="divAppointmentSelection">

    <div id="divAvailableAppointments"></div>
    <button id="btnConfirmAppointment"
            onclick="confirmAppointment()">Confirm
    </button>

</div>

</body>
</html>