@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
  margin: 0;
  font-family: 'Open Sans';
}

body {
    font-size: 1.5rem;
    background-color:#222222;
    color:#222222;
}

#divAccount{
   text-align:center;
   border-radius:10px;
   width:calc(100% - 60px);
   margin:20px;
   padding:10px;
   display:inline-block;
}

#divGoogleSignIn{
    display:inline-block;
}

#goBackButtonContainer{
    display:inline-block;
    text-align:center;
    height:100%;
    margin:10px;
    float:left;
}

#btnGoBack {
    background-color:transparent;
    cursor:pointer;
    fill: #ececec;
    border:none;
    visibility:hidden;
}

#profile{
    display:inline-block;
    align-items:center;
    text-align:center;
}

#labelProfileName{
    display:inline-block;
    text-align:center;
    height:100%;
    margin:10px;
    color:white;
}

#imgProfilePic{
    border-radius:150px;
    width:50px;
    float:left;
}

#divDateSelection{
    width:100%;
    border-top-width: 1px;
    text-align:center;
}

#btnGetServices{
    visibility:hidden;
    display:inline-block;
    border-radius: 10px;
    border-style:solid;
    border: none;
    color: #121212;
    width:150px;
    font-weight:bold;
    height:75px;
    text-transform:uppercase;
    background-color:#f2a365; 
}

#divServiceSelection{
    display:none;
    padding:10px;
    margin-top:10px;
    width:calc(100% - 20px);
    overflow:hidden;
    border-top-width: 1px;
    text-align:center;
}

#servicesContainer{
    display:inline-block;
    color:#ececec;
    background-color:#30475e;
    width:calc(100% - 20px);
    border-radius: 10px;
    text-align:center;
    padding:10px;
}

#divProvidedServices{
    display:none;
    width:fit-content;
}

.service {
    text-align:left;
    font-size:1.2rem;
}

.service label {
    padding:10px;
}

#btnAppointmentsContainer {
    #float:right;
    display:inline-block;
    margin:10px;
}

#btnGetAvailableAppointments {
    visibility:hidden;
    width:150px;
    height:75px;
    border-radius: 10px;
    border-style:solid;
    border: none;
    background-color:#f2a365; 
    color: #121212;
    font-weight:bold;
    text-transform:uppercase;
}

#divAppointmentSelection {
    display:none;
  
    float:left;
    text-align:center;
    width:100%;
    
}

#divAvailableAppointments{
    margin:10px;
    display:none;
    border-radius: 10px;
    border: 4px solid #000000;
    padding:10px;
    background-color:#30475e;
}

.element{
    color:#ececec;
    border: 4px solid #000000;
    border-radius: 10px;
    margin-top: 10px;
    text-align:center;
    padding: 5px;
}

.element:hover{
    border: 4px solid #f2a365;
    border-radius: 10px;
}

.elementSelected{
    margin-top: 10px;
    color: #f2a365;
    border: 4px solid #f2a365;
    border-radius: 10px;
}

.appointmentService{
   
}

#btnConfirmAppointment{
    visibility: hidden;
    width:150px;
    height:75px;
    border-radius: 10px;
    border-style:solid;
    border: none;
    background-color:#f2a365; 
    color: #121212;
    font-weight:bold;
    text-transform:uppercase;
}