@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
  margin: 0;
  font-family: 'Open Sans';
}

body {
    text-align:center;
    font-size: 1.5rem;
    background-color:#222222;
    color:#222222;
}

.service {
    font-size: 18px;
    letter-spacing: 2px;
    float:left;
    clear:left;
    word-spacing: 2px;
    color: #2c2c2c;
    font-weight: 400;
    font-style: normal;
    font-variant: small-caps;
    text-transform: lowercase;
    width:fit-content;
}


#divAccount{
   text-align:center;
   border-radius:10px;
   width:calc(100% - 60px);
   margin:20px;
   padding:10px;
   display:inline-block;
   #background-color:#aaacda63;
}

#divGoogleSignIn{
    display:inline-block;
}

#labelProfileName{
    display:inline-block;
    text-align:center;
    height:100%;
    margin:10px;
    color:white;
}

#profile{
    display:inline-block;
    align-items:center;
    text-align:center;
}

#imgProfilePic{
    border-radius:150px;
    width:50px;
    float:left;
}

#divJobSelection{
    width:100%;
    border-top-width: 1px;
    text-align:center;
}

#btnGetServices{
    display:inline-block;
    border-radius: 10px;
    border-style:solid;
    border: none;
    background:transparent;
    color: #121212;
    width:150px;
    font-weight:bold;
    height:75px;
    text-transform:uppercase;
    background-color:#f2a365; 
}

#divServiceSelection{
    float:left;
    #background-color:red;
    visibility: hidden;
}

#divProvidedServices{
    visibility:hidden;
    border: 4px solid #000000;
    border-radius: 10px;
    float:left;
}

#btnGetAvailableAppointments{
    visibility:hidden;
}

#divAppointmentSelection{
    visibility:hidden;
    border: 4px solid #000000;
    border-radius: 10px;
    float:left;
    width:fit-content;
    background-color:#ff704a;
}

#divAvailableAppointments{
    visibility:hidden;
}

.element{
    border: 4px solid #000000;
    border-radius: 10px;
    margin-top: 10px;
}

.element:hover{
    border: 4px solid #db0606;
    border-radius: 10px;
}

.elementSelected{
    margin-top: 10px;
    color: red;
    border: 4px solid #db0606;
    border-radius: 10px;
}

.appointmentService{
    font-family: "Verdana", Courier, monospace;
    font-size: 18px;
    text-transform: lowercase;
}

#btnGetAvailableAppointments{
    visibility:hidden;
    float:left;
}

#btnConfirmAppointment{
    visibility: hidden;
}